body {
    font-family: sans-serif;
    margin: 1rem;
    padding: 0;
    max-width: 100%;
}
form {
    margin-bottom: 1rem;
}
input, button {
    font-size: 1rem;
    padding: 0.4rem;
    margin: 0.2rem;
    width: 90%;
    max-width: 400px;
}
@media(min-width: 600px){
    input, button {
        width: auto;
    }
}
